/* Set a style for the rest of the elements besides the header elements on the index.html page */
html {
    height: 100%;
    /** Height Fix (Body was not taking full height) */
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43rem;
    height: 11rem;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    border-radius: 15px;
}

.post-left {
    width: 15%;
    max-width: 15%;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.post-content {
    width: 40rem;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    height: 11rem;
}

.post-title {
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
}

.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc {
    height: 70px;
    /*Display only three lines*/
    margin-bottom: 0 !important;
    overflow: hidden;
    line-height: 1.5em;
    width: 31rem;
}

.allPostsContainer {
    height: 75vh;
    width: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post-icon {
    float: right;
    font-size: 30px !important;
    cursor: pointer;
}

/*The delete post alert box*/
.alert-modal {
    background-color: #fefefe;
    margin: 15rem auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 28rem;
    font-family: "ubuntuCondensed";
    /* Font for modals according to provided images */
    text-align: center;
    color: black !important;
}

.alert-modal .alert-btn {
    border: 0;
    color: white;
    width: 10rem;
    height: 50px;
    margin-right: 25px;
    margin-left: 30px;
    cursor: pointer;
}