body {
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover !important;
   overflow: hidden;
   display: block;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */
html {
   height: 100%;
   /** Height Fix (Body was not taking full height) */
}

body {
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   min-height: 100%;
   /** Height Fix */
   height: 100%;
   /** Height fix for container. Container wasn't taking full height*/
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   height: 100%;
}

.postButtons {
   margin: auto auto 30rem auto;
   /** 30rem to match the image (somewhat) */
}

.postButtons button {
   background: #cebd2d;
   height: 2.5rem;
   color: black;
   font-weight: bolder;
   margin-left: 10px;
   cursor: pointer;
}